*{
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #f16363;
    font-family: monospace;
    scroll-behavior: smooth;
}

.line1{
    width: 4px;
    height: 60px;
    background-color: #000;
    position: absolute;
    left: 110px;
}
.line2{
    width: 4px;
    height: 40px;
    background-color: #000;
    position: absolute;
    left: 120px;
}
.line3{
    width: 4px;
    height: 40px;
    background-color: #000;
    position: absolute;
    right: 120px;
}
.line4{
    width: 4px;
    height: 60px;
    background-color: #000;
    position: absolute;
    right: 110px;
}

nav {
    background-color: #fff;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    max-width: 730px;
    border-radius: 35px;
    border: 5px solid #000;
    border-bottom: 9px solid #000;
    margin: auto;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: monospace;
    font-size: 23px;
    text-transform: uppercase;
}

.about{
    background-color: #ffda46;
    margin: 30px auto;
    border-radius: 35px;
    border: 3px solid #000;
    border-bottom: 9px solid #000;
    padding: 25px 15px;
    text-align: center;
}

.about img{
    width: 150px;
    border-radius: 50%;
    border: 4px solid;
    border-bottom: 8px solid;
}

.about h3{
    margin: 10px 0;
    font-size: 25px;
}

.about p{
    max-width: 400px;
    margin: auto;
}

.main{
    background-color: #fff5cf;
    margin: 30px auto;
    border-radius: 35px;
    border: 3px solid #000;
    border-bottom: 9px solid #000;
    padding: 15px;
    overflow: hidden;
}

.cover{
  border: 5px solid;
    border-bottom: 10px solid;
    border-radius: 20px;
    margin-bottom: 35px;
}

@media (max-width: 992px) {
  .content{
    margin: 10px 5px !important;
  }
  .gallery-container{
    width: 100% !important;
    height: auto !important;
  }
  .clock{
    margin: 0 -10px !important;
  }
}

.gallery{
	display: grid;
	width: 100%;
	justify-items: center;
}

.gallery h1{
	text-decoration: none;
	color:#fff;
	float:center;
	font-size: 90px;
	line-height: 1px;
	margin:120px 20px 30px;
}
.gallery-container{
	width: 775px;
	height:650px;
	border: 1px solid #fff;
    margin: 30px auto;
    position: relative;
}
img {
  max-width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid;
  border-bottom: 10px solid;
}

.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    padding: 10px 20px;
    border: 3px solid #000;
    border-bottom: 6px solid;
    z-index: 99999999;
    border-radius: 15px;
}
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    padding: 10px 20px;
    border: 3px solid #000;
    border-bottom: 6px solid;
    z-index: 99999999;
    border-radius: 15px;
}
.slider-buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.slider-slides {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: 0.5s transform;
}
.slider-slide {
  flex: 0 0 100%;
  display: inline-block;
}

#choose-me1, #choose-me2, #choose-me3, .choose-me{
  position: absolute;
  top: 44%;
  margin-left: 16%;
  background: #000;
  color: white;
  border: 2px solid;
  border-bottom: 4px solid;
  border-radius: 5px;
  padding: 4px 8px;
  width: 17%;
}
.choose-me2{
  margin-left: 370px;
}

.choose-me3{
  margin-left: 550px;
  width: 100px;
}

.content{
    margin: 12px 100px;
    font-size: 16px;
}

.contact{
    background-color: #ffda46;
    margin: 30px auto;
    border-radius: 35px;
    border: 3px solid #000;
    border-bottom: 9px solid #000;
    padding: 25px 15px;
    text-align: center;
}

.contact h3{
    margin: 10px 0;
    font-size: 25px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

/* scroll to top button */

.topBtn {
    position: fixed;
    z-index: 15;
    bottom: 45px;
    right: 30px;
    text-decoration: none;
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(120px);
  }
  
  .topBtn .progress_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: block;
    border-radius: 16px;
  }
  
  .topBtn .progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #ffda46;
  }
  
  .topBtn.active {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  
  .topBtn.active .fn__svg {
    -webkit-transform: rotate(0deg) translateX(0px);
    -ms-transform: rotate(0deg) translateX(0px);
    transform: rotate(0deg) translateX(0px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .topBtn:after {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    right: -4px;
    bottom: -10px;
    z-index: -1;
    border-radius: 0 0 25px 25px;
    border-bottom: 10px solid #000;
  }
  
  .topBtn:hover .fn__svg {
    -webkit-mask-image: -webkit-linear-gradient(165deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    -webkit-animation: shine 2s infinite;
    animation: shine 2s infinite;
  }
  
  .topBtn .fn__svg {
    width: 35px;
    height: 35px;
    display: block;
    -webkit-transform: rotate(73deg) translateX(9px);
    -ms-transform: rotate(73deg) translateX(9px);
    transform: rotate(73deg) translateX(9px);
    -webkit-transition: all 0.3s 0.3s ease;
    -o-transition: all 0.3s 0.3s ease;
    transition: all 0.3s 0.3s ease;
    position: relative;
    z-index: 2;
  }